.top-header {
  width: auto;
  height: 145px;
  border-radius: 0px 0px 10px 10px;
  background: #0c58e6;
}
.top-name {
  width: fit-content;
  color: #fff;
}
#main {
  /* H1 bold */
  padding: 25px 25px 5px 20px;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: capitalize;
}
#second {
  color: #fff;

  padding: 5px 25px 5px 30px;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: capitalize;
}
.body {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
