@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "poppins";
}
.App {
  background-color: #E7EFFF;
}

.main{
  display: flex;
  width: 100%;
}
.header{
  width: 100%;
}
