@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "poppins";
}
.App {
  background-color: #e7efff;
  width: 100%;
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
}
/* .header {
  width: 100%;
} */
